
NOVO MODELO MAPA

<h2>VIBRAÇÃO</h2>
<p>Representa o acordo natalício e o elemento a que você pertence: Fogo, Água ou Ar. 
Este valor indica sua inclinação profissional original.
</p>
<p><h4>A Sua Vibração é : {{numero_vibracao}}</h4></p>
<p> {{descricao_vibracao}}</p>

<h2>ALMA</h2>
<p>Representa o Eu Verdadeiro, a Sua Essência, A Natureza do Seu Ser, os Seus Valores. </p>
<p><h4> A Sua Alma é : {{numero_alma}}</h4></p>
<p> {{descricao_alma}}</p>


<h2>APARÊNCIA</h2>
<p>Representa a imagem com a qual você se relaciona com o mundo. Indica a forma como outros te enxergam. </p>
<p><h4>A Sua Aparência é : {{numero_aparencia}}</h4></p>
<p> {{descricao_aparencia}}</p>

<h2>DESTINO</h2>
<p>Indica o caminho que já está disponível para você seguir com mais facilidade e realizar a sua missão na Terra.</p>
<p><h4>O Seu Destino é : {{numero_destino}}</h4></p>
<p>{{descricao_destino}}</p>

<h2>LIÇÃO DE VIDA (CAMINHO DO DESTINO)</h2>
<p>Representa as lições que você precisa aprender nesta vida e é da maior importância na escolha de uma carreira.</p>
<p><h4>A Sua Lição de Vida é : {{numero_licaoVida}}</h4></p>
<p> {{descricao_licaoVida}}</p>


<h2>DIA NATALICIO</h2>
<P>O dia de nascimento indica o talento interior oculto, que pode ser aplicado na escolha da carreira. </P>
<p><h4>O Seu dia de Nascimento é : {{numero_diaNatalicio}}</h4></p>
<p> {{descricao_diaNatalicio}}</p>

<h2>LIÇÕES CARMICAS</h2>
<p>Cada número que lhe falta no nome dá uma indicação dos pontos fracos que devem ser fortalecidos. Estas ausências sugerem normas de comportamento ou lições para facilitar sua vida. </p>
<p>Lições Carmicas: {{numero_carmicaUm}}</p>
<p> {{descricao_carmicaUm}}</p>

<p>Lições Carmicas: {{numero_carmicaDois}}</p>
<p> {{descricao_carmicaDois}}</p>

<p>Lições Carmicas: {{numero_carmicaTres}}</p>
<p> {{descricao_carmicaTres}}</p>

<p>Lições Carmicas: {{numero_carmicaQuatro}}</p>
<p> {{descricao_carmicaQuatro}}</p>


<h2>PRIMEIRA VOGAL</h2>
<p>A Primeira Vogal mostra os seus impulsos emocionais,  atitudes e reações diante de estímulos externos. </p>
<p><h4> A Sua Primeira Vogal é : {{numero_vogal}}</h4></p>
<p> {{descricao_vogal}}</p>



<h2>REALIZAÇÕES</h2>
<p>São períodos em que o Universo lhe proporciona a oportunidade de crescimento, são comparáveis a um teste que você tem que fazer. Suas vibrações são exatas ao período em que vive seus ciclos. São mudanças ou transformações que você sofre sob a influência dos números e lhe apontam para a direção em que deve obter sucesso. Eles irão sugerir suas oportunidades. Conhecê-los o levará a compreender as modificações em suas atitudes em relação à vida. </p>
<H4>Sua Realização Dos {{realizacaoDt1}} aos {{realizacaoDt2}} anos : {{numero_realizacaoUm}}</H4>
<p> {{descricao_realizacaoUm}}</p>

<H4>Sua Realização Dos {{realizacaoDt3}} aos {{realizacaoDt4}} anos : {{numero_realizacaoDois}}</H4>
<p> {{descricao_realizacaoDois}}</p>

<H4>Sua Realização Dos {{realizacaoDt5}} aos {{realizacaoDt6}} anos : {{numero_realizacaoTres}}</H4>
<p> {{descricao_realizacaoTres}}</p>

<H4>Sua Realização Dos {{realizacaoDt7}} anos em diante : {{numero_realizacaoQuatro}}</H4>
<p> {{descricao_realizacaoQuatro}}</p>



<h2>DESAFIOS</h2>
<p>Ao longo de sua existência você experimentará alguns desafios, sem os quais sua vida seria terrivelmente monótona.  Os empecilhos e obstáculos servem para sacudi-lo para fora de sua letargia, forçando-o a combater os elementos e dificuldades que lhe impedem de alcançar sua meta. 
Um desafio é um traço fraco em sua personalidade ou um talento não desenvolvido. Representa um ponto em seu caráter que deve ser fortalecido através da força de vontade e compreensão. Atua como pedra de tropeço ou sinal de alerta, avisando para evitar as armadilhas.
</p>
<H4>Seu Desafio de {{desafioDt1}} aos {{desafioDt2}} anos : {{numero_desafioUm}}</H4>
<p> {{descricao_desafioUm}}</p>

<H4>Seu Desafio de  {{desafioDt3}} aos {{desafioDt4}} anos : {{numero_desafioDois}}</H4>
<p> {{descricao_desafioDois}}</p>

<H4>Seu Desafio de  {{desafioDt5}} aos {{desafioDt6}} anos : {{numero_desafioTres}}</H4>
<p> {{descricao_desafioTres}}</p>

<H4>Seu Desafio de  {{desafioDt7}} anos em diante : {{numero_desafioQuatro}}</H4>
<p> {{descricao_desafioQuatro}}</p>


<h2>CICLOS</h2>
<p>Há três grandes períodos em sua vida:
O Primeiro, ou Ciclo Formativo, em que busca sua verdadeira natureza, ao mesmo tempo em que  tenta enfrentar as poderosas forças presentes em seu meio, seus parentes e as condições sócio-econômicas de sua família, por exemplo.  
O Segundo Ciclo, ou Ciclo Produtivo, traz o lento surgimento de sua individualidade e talentos criativos.  A parte inicial deste ciclo - do início até meados dos 30 anos - representa a luta para encontrar seu lugar no mundo, enquanto que na parte final dos 30, os 40 e o início dos 50 anos,  você se encontra com muito maior autodomínio e influência sobre o meio.  
O Terceiro Ciclo, ou Ciclo de Colheita, pode representar o florescimento de seu ser interior, uma vez que sua verdadeira natureza finalmente deu frutos. É durante este período que você tem o maior grau de auto-expressão e poder.
</p>
<H4>1º Formativo : {{numero_formativo}} | 0 aos 28 anos</H4>
<p> {{descricao_formativo}}</p>

<H4>2º Produtivo : {{numero_produtivo}} | 29 aos 56 anos</H4>
<p> {{descricao_produtivo}}</p>

<H4>2º Colheita : {{numero_colheita}}   | 57 anos em diante</H4>
<p> {{descricao_colheita}}</p>

<h2>NÚMERO DO PODER</h2>
<p>É o farol que lhe guia através dos anos. Com esse número sua vida será cheia de sentido, útil e feliz. 
Conhecendo-o você poderá reconhecer algumas de suas vontades e aversões. Suas vibrações irão sendo sentidas ao longo de sua vida. 
Se você viver de acordo com este número, não terá dias inúteis. A velhice será plenamente ativa. Ele é a chave para seu sucesso, porque lhe dará um objetivo na vida. É o seu número de poder. 
</p>
<p><h4>Seu Número do Poder é : {{numero_poder}}</h4></p>
<p> {{descricao_poder}}</p>

<h2>ANO PESSOAL</h2>
<p>Cada ano tem sua própria vibração - conjunto de influências, oportunidades e obstáculos. Sabendo antecipadamente o que esperar, você poderá aproveitar melhor as oportunidades que o ano oferece. </p>
<H4> De {{anoPessoalUm}} à {{anoPessoalDois}} | Você estará vivendo um Ano Pessoal :  {{numero_ano_pessoal}}</H4>
<p> {{descricao_ano_pessoal}}</p>



<h2>QUADRIMESTRE</h2>
<p>Dentro do Ano Pessoal você tem três Quadrimestres que apontam as possibilidades do período.</p>
<H4>1º - De {{quadrimestreDt1}} à {{quadrimestreDt2}} Você estará vivendo um Quadrimestre : {{numero_quadrimestreUm}}</H4>
<p> {{descricao_quadrimestreUm}}</p>

<H4>2º - De {{quadrimestreDt3}} à {{quadrimestreDt4}} Você estará vivendo um Quadrimestre : {{numero_quadrimestreDois}}</H4>
<p> {{descricao_quadrimestreDois}}</p>

<H4>3º - De {{quadrimestreDt5}} à {{quadrimestreDt6}} Você estará vivendo um Quadrimestre : {{numero_quadrimestreTres}}</H4>
<p> {{descricao_quadrimestreTres}}</p>


<h2>TEMPERAMENTO</h2>
<h4>Seu Temperamento é :  {{numero_temperamento}}</h4>
<p> {{descricao_temperamento}}</p>

<h2>ASSINATURA</h2>
<P>A forma como você assina diz muito sobre a sua personalidade. Ela é a sua marca, seu carimbo. 
Se rabiscar o nome, além de não emitir qualquer vibração, as pessoas não saberão quem passou por ali. 
Se der voltas, colocar traços para baixo, provavelmente estará fazendo o mesmo com sua vida! 
A assinatura, para ser positiva e trazer harmonia para sua vida deve vibrar de acordo com  o seu dia de nascimento. 
</P>
<H4>Sugestão de Assinatura: </H4>