

    tela de exibição de resultados
{{nome_teste}}
<h2>Nome: {{nome_teste}}</h2> <h2>Data Aniversário: {{data_nasc}}</h2>
<h2>Dia: {{segundoCiclo}} (Vibração, dons e talentos)  {{vibracao}}</h2> 
<h2> DIA NATALICIO: {{dia_natalicio}}</h2>
<h2>Temperamento: {{temperamento}}</h2> 
<h2>Alma: {{alma}}</h2>
<h2>Aparência: {{aparencia}}</h2>
<h2>Destino: {{destino}}</h2>
<h2> Primeira Vogal: {{primeiraVogal}}</h2>
<h2> Data Natalicia / Lição de Vida: {{licaoVida}}</h2>
<h2> PODER: {{poder}}</h2>


<h2> 1º Ciclo : {{primeiroCiclo}}</h2>
<h2> 2º Ciclo : {{segundoCiclo}}</h2>
<h2> 3º Ciclo : {{terceiroCiclo}}</h2>

<h2> Numeros nome : {{numeros}}</h2>
<h2> Numeros repetidos : {{repeticaoNumero}}</h2>



<form action="/novoMapa" method="POST">

  
<h4> Nome:    <input type="text" name="nome" value="{{nome_teste}}"  ></h4> 
<h4> Data Aniversário:    <input type="text" name="data_nasc" value="{{data_nasc}}"  ></h4> 
<h4> Vibração:   <input type="text" name="vibracao" value="{{segundoCiclo}}" ></h4> 
<h4> Temperamento:   {{temperamentoNumero}} <input type="text" name="temperamento" value="{{temperamento}}"></h4> 
<h4> Alma:    <input type="text" name="alma" value="{{alma}}" ></h4> 
<h4> Aparência:    <input type="text" name="aparencia" value="{{aparencia}}"  ></h4> 
<h4> Destino:  <input type="text" name="destino" value="{{destino}}"  ></h4> 
<h4> Primeira Vogal:   <input type="text" name="primeiraVogal" value="{{primeiraVogal}}"  ></h4> 
<h4> Data Natalicia / Lição de Vida: :    <input type="text" name="licaoVida" value="{{licaoVida}}"  ></h4> 
<h4> Dia Natalicio  <input type="text" name="dia_natalicio" value="{{dia_natalicio}}"></h4>
<h4> Poder: <input type="text" name="poder" value="{{poder}}"  ></h4> 
<h4> 1º Ciclo:  <input type="text" name="primeiroCiclo" value="{{primeiroCiclo}}"  ></h4> 
<h4> 2º Ciclo:  <input type="text" name="segundoCiclo" value="{{segundoCiclo}}"  ></h4> 
<h4> 3º Ciclo:   <input type="text" name="terceiroCiclo" value="{{terceiroCiclo}}"  ></h4> 
<h4> Número Carmico Um: <input type="text" name="numeroCarmicoUm" value="{{numeroCarmicoUm}}"  ></h4> 
<h4> Número Carmico Dois: <input type="text" name="numeroCarmicoDois" value="{{numeroCarmicoDois}}"  ></h4>
<h4> Número Carmico Tres: <input type="text" name="numeroCarmicoTres" value="{{numeroCarmicoTres}}"  ></h4>
<h4> Número Carmico Quatro: <input type="text" name="numeroCarmicoQuatro" value="{{numeroCarmicoQuatro}}"  ></h4>




<h4> Realizações </h4>
Dos <input name="realizacaoDt1" value="{{realizacaoDt1}}"  > aos <input name="realizacaoDt2" value="{{realizacaoDt2}}"  > Anos  = <input name="realizacaoUm" value="{{realizacaoUm}}"  >  <br>
Dos <input name="realizacaoDt3" value="{{realizacaoDt3}}"  > aos <input name="realizacaoDt4" value="{{realizacaoDt4}}"  > Anos  = <input name="realizacaoDois" value="{{realizacaoDois}}"  >  <br>  
Dos <input name="realizacaoDt5" value="{{realizacaoDt5}}"  > aos <input name="realizacaoDt6" value="{{realizacaoDt6}}"  > Anos  = <input name="realizacaoTres" value="{{realizacaoTres}}"  >   <br> 
Dos <input name="realizacaoDt7" value="{{realizacaoDt7}}"  > em diante  <input name="realizacaoQuatro" value="{{realizacaoQuatro}}"  >     <br>

<h4> Desafios </h4>
Dos <input name="desafioDt1" value="{{desafioDt1}}"  > aos <input name="desafioDt2" value="{{desafioDt2}}"  > Anos  = <input name="desafioUm" value="{{desafioUm}}"  >  <br>
Dos <input name="desafioDt3" value="{{desafioDt3}}"  > aos <input name="desafioDt4" value="{{desafioDt4}}"  > Anos  = <input name="desafioDois" value="{{desafioDois}}"  >  <br>  
Dos <input name="desafioDt5" value="{{desafioDt5}}"  > aos <input name="desafioDt6" value="{{desafioDt6}}"  > Anos  = <input name="desafioTres" value="{{desafioTres}}"  >   <br> 
Dos <input name="desafioDt7" value="{{desafioDt7}}"  > em diante  <input name="desafioQuatro" value="{{desafioQuatro}}"  >     <br>


 <button type="submit">GERAR MAPA</button>
</form>